<div>
    <div>{{title}}</div>
    <!--Type-1 Selector as custom app componet -->
    <!--<app-aboutus></app-aboutus>-->
    <!--Type-2 Selector as using  class -->
    <!--<div class="app-aboutus"></div>-->
    <!--Type-3 Selector as using  attribute -->
    <div app-aboutus> </div>
    <app-propertybinding></app-propertybinding>
    <div class="app-classbinding"></div>
    <div app-stylebinding ></div>
    <div class="app-eventbinding"></div>
    <div><app-templatereferencevariables> </app-templatereferencevariables></div>
    <div><app-twow-waybinding> </app-twow-waybinding></div>
    <div class="app-ngifdirective"></div>
    <div class="app-ngswitchdirective"> </div>
    <div class="app-ngfordirective"> </div>
    <div><app-componentinteraction (childEvent)="message=$event" [parentData]="name"> </app-componentinteraction></div>
    <div><h1>{{message}}</h1></div>
</div>