<div class="mat-elevation-z8">
  <mat-table [dataSource]="listData">

    <ng-container matColumnDef="fullName">
      <mat-header-cell *matHeaderCellDef> Full Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fullName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="mobile">
      <mat-header-cell *matHeaderCellDef> Mobile</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.mobile}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef> City</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.city}} </mat-cell>
    </ng-container>

    <!--<ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef> Gender</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.gender}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="deparment">
      <mat-header-cell *matHeaderCellDef> Department</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.deparment}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="hireDate">
      <mat-header-cell *matHeaderCellDef> HireDate</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.hireDate}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="isPermanent">
      <mat-header-cell *matHeaderCellDef> Is Permanent</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.isPermanent}} </mat-cell>
    </ng-container>-->

    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading Data ...
        <mat-spinner color="warn"></mat-spinner>
      </mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="nodata">
      <mat-footer-cell *matFooterCellDef colspan="6">
       No Data Found ! .....
      </mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData != null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['nodata']"
    [ngClass]="{'hide': !(listData != null && listData.data.length == 0)}"
    ></mat-footer-row>
  </mat-table>
</div>
