<div class="container-fulid">
  <h1>Registration Form</h1>  
  <form [formGroup]="registraionForm">  
    <div class="form-group">
      <label>Username</label>
      <input formControlName="userName" type="text" class="form-control">      
    </div>
    <div class="form-group">
      <label>Password</label>
      <input formControlName="password"  type="password"  class="form-control">
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input formControlName="confirmPassword"  type="password"  class="form-control">
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
  </form>
  {{registraionForm.value | json}}
  </div>
  
  